.footer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  color: white;
}

.footer, .cv, .contact {
  border:burlywood;
  border-style: solid;
  border-width: thin;
}